.content {
	max-width: 768px;
	padding: 15px;
	margin: 0 auto;
}

.title {
	text-align: center
}

.loading {
	text-align: center;
	font-size: 16pt;
}

.search-interface {
	Display:flex
	Flex-direction:row
}

.sort-arrow{
	display: block;
	float: right;
}

.id-column {
	white-space: nowrap;
}

.data-column {
	width: 33%;
}

.disabled-song {
	color: #555;
	background-color: #333;
}
